/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.cdnfonts.com/css/tt-fors-trial');
@import url('https://fonts.cdnfonts.com/css/klein-trial');

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'TT Fors Trial', sans-serif;
	  background-color: #8F7CC5;
	margin: 0;
}
.menu {
  background-color: #8F7CC5;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 5vh;
  color: black;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 9999;

  ul {
    list-style-type: none;
    display: flex;
    width: 800px;
    font-weight: 400;
    font-size: 1.1vh;
    position: relative;
    margin: 0px;
    margin: 0px auto;

    li {
      height: 5vh;
      width: 200px;
      padding: 0px 4px;
      margin: 0px;
      position: relative;


      i {

      }
      a {
        display: block;
        width: 100%;
        padding: calc((5vh - 1.1vh) / 2) 0px;
        color: #F7F3EB;
        text-decoration: none;
        font-weight: 500;

      }
      a:hover {
      	text-decoration: underline;
      }

    }
  }
}

section {
	background-color: #F7F3EB;

	height: calc(100vh - 2vh);
}

section.home {
	margin-top: 5vh;
    display: flex;
    width: 100%;
    .left {
    	float: left;
    	width: 50%;
    	text-align: center;
    	h1 {
    		font-size: 12.5vh;
    		color: #8F7CC5;
    		line-height: 0.8;
			margin-bottom: 4.8vh;
			font-family: 'Klein Text Trial', sans-serif;

    	}
    	h2 {
    		color: #8D776B;
    		font-size: 6.8vh;
    		width: 80%;
    		margin: auto;
    		line-height: 1;
			font-family: 'Klein Text Trial', sans-serif;
			margin-bottom: 4.8vh;
    	}
    	h3 {
    		color: #5A453A;
    		font-size: 3.87vh;
    		width: 80%;
    		margin: auto;
    		line-height: 1.2;
			margin-bottom: 4.8vh;
    	}
    	p {
    		color: #5A453A;
    		font-size: 1.935vh;
    		width: 80%;
    		margin: auto;
    	}

    }
    .right {
    	width: 50%;
    	float: right;
    	background: url('/yg1.jpg');
    	    background-size: cover;
    	    background-position: center center;
    }
}
section.formation {
	margin-top: 5vh;
    display: flex;
    width: 100%;
    .left {
    	width: 30%;
    	float: right;
    	background: url('/yg2.jpg');
    	    background-size: cover;
    	    background-position: center center;
    }
    .right {
    	float: left;
    	width: 70%;
    	text-align: center;
    	h2 {
    		color: #5A453A;
    		font-size: 62px;
    		width: 80%;
    		margin: auto;
    		line-height: 1;
			font-family: 'Klein Text Trial', sans-serif;
			margin-bottom: 60px;
    		margin-top: 20vh;
    	}
    	p {
    		color: #5A453A;
    		font-size: 1.935vh;
    		width: 40%;
    		margin: auto;
    	}

    }
}
section.cours {
	margin-top: 5vh;
    display: flex;
    width: 100%;
    .left {
    	float: left;
    	width: 50%;
    	text-align: center;
    	h2 {
    		color: #5A453A;
    		font-size: 3.87vh;
    		width: 80%;
    		margin: auto;
    		line-height: 1;
			font-family: 'Klein Text Trial', sans-serif;
    		margin-top: 100px;
			margin-bottom: 100px;
    	}
    	.flexbox {
    		color: #5A453A;
    		margin: auto;
    		margin-top: calc(40% - 3.87vh - 110px);
    		margin-bottom: 5%;
    		display: flex;
    		width: 80%;
    		.block-left {
    			width: 50%;
    			float: left;
    			h3 {
    				font-size: 3.2vh;
    			}
    			p {
    				font-size: 1.935vh;
    			}
    		}
    		.block-right {
    			width: 50%;
    			float: right;
    			h3 {
    				font-size: 3.2vh;
    			}
    			p {
    				font-size: 1.935vh;
    			}

    		}

    	}
    	img {
			width: 500px;
		    object-fit: cover;
		    height: 300px;
    	}

    }
    .right {
    	width: 50%;
    	float: right;
    	background: url('/img1.jpg');
    	background-size: cover;
    	background-position: center center;
    	text-align: center;

    	.flexbox {
    		color: #F7F3EB;
    		margin: auto;
    		margin-top: 40%;
    		margin-bottom: 5%;
    		display: flex;
    		width: 80%;
    		.block-left {
    			width: 45%;
    			margin-right: 5%;
    			float: left;
    			h3 {
    				font-size: 3.2vh;
    			}
    			p {
    				font-size: 1.935vh;
    			}
    		}
    		.block-right {
    			width: 45%;
    			margin-left: 5%;
    			float: right;
    			h3 {
    				font-size: 3.2vh;
    			}
    			p {
    				font-size: 1.935vh;
    			}

    		}

    	}
    }
}

section.yoga {

	margin-top: 5vh;
    display: flex;
    width: 100%;
    .left {
    	float: left;
    	width: 50%;
    	text-align: center;
    	h2 {
    		color: #5A453A;
    		font-size: 62px;
    		width: 80%;
    		margin: auto;
    		line-height: 1;
			font-family: 'Klein Text Trial', sans-serif;
			margin-bottom: 60px;
    		margin-top: 20vh;
    	}
    	p {

    		color: #5A453A;
    		font-size: 1.935vh;
    		width: 80%;
    		margin: auto;
    	}

    }
    .right {
    	width: 50%;
    	float: right;
    	background: url('/yg3.jpg');
    	background-size: cover;
    	background-position: center center;
    	text-align: center;

    }
}

section.planning {
	margin-top: 5vh;
    display: flex;
    width: 100%;
    .right {

    	float: left;
    	width: 50%;
    	text-align: center;
    	h2 {
    		font-size: 155px;
    		color: #8F7CC5;
    		line-height: 0.8;
			margin-bottom: 60px;
			font-family: 'Klein Text Trial', sans-serif;
    	}

		.flexbox {
			display: flex;
			.block-left {

		    	float: left;
		    	width: 50%;
				h3 {
		    		color: #5A453A;
		    		font-size: 3.87vh;
		    		width: 80%;
		    		margin: auto;
		    		line-height: 1.2;
					margin-bottom: 60px;
				}
			}
			.block-right {

		    	float: right;
		    	width: 50%;
				p {
		    		color: #5A453A;
		    		font-size: 1.935vh;
		    		width: 80%;
		    		margin: auto;
					hr {}
				}
			}
		}
    }
    .left {
    	
    	width: 50%;
    	float: right;
    	background: url('/yg5.jpg');
    	background-size: cover;
    	background-position: center center;

    }
}
